@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
.navbar{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw;
    height: 10vh; */
    position: fixed;
   background-color: inherit;
    color: white;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
    z-index: 10;
    font-size: 1.5rem;
}
.navitem{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navitem button{
    font-family: 'Changa', sans-serif;
    background-color: inherit;
    color: black;
    margin: 5px;
    border: 0px;
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar button:hover{
    text-decoration: underline;
}
.navitem img{
    height: 10vh;
}
.navitem h2 a{
    text-decoration: none;
    color:black;
    font-family: 'Rubik Vinyl', cursive;
}
.navitem a{
    text-decoration: none;
    color: black;
    font-family: 'Changa', sans-serif;
    margin: 10px;
    font-weight: bold;
}
.navbar a:hover{
    text-decoration: underline;
}
.navitem a.active{
    text-decoration: underline;
    color: white;
    background-color: green;
    padding: 5px 20px;
    border-radius: 14px;
    font-size: 1.3rem;
}


